:root {
  --clarooscuro-a: #1b1c1c;
  --clarooscuro-b: #2b2c2c;
  --clarooscuro-c: #3c3c3c;
  --clarooscuro-d: #4d4c4c;
  --claroscuro-e: #aaabac;
  --claroscuro-f: #d8dade;
}

.display { display: flex; flex-direction: column; gap: 1em; }
.divisor { width: 100%; height: 1px; background-color: #d8dade; margin: 1em 0; opacity: 0.05; }

/* botones */

.botonUI
{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5em .8em;
  overflow: hidden;
  border: 0px;
  border-radius: 50px;
  background: var(--clarooscuro-c);
  color:  var(--claroscuro-f);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.05s ease;
}
.botonUI:hover { background: var(--clarooscuro-d); }
.botonUI:active { transform: scale(0.95); }
.iconoUI { width: 1rem; height: 1rem; color: var(--claroscuro-f); }

/* inputs */

.input
{
  width: 160px;
  padding: .5em .8em;
  padding-right: 2em;
  border: 1px solid var(--clarooscuro-a);
  border-radius: 8px;
  background: var(--clarooscuro-c);
  color: var(--clarooscuro-f);
  font-size: 1rem;
  outline: none;
  appearance: none;
  transition: background 0.2s,
  border-color 0.2s;
}
.input:hover { background: var(--clarooscuro-d); }
.input:focus { background: var(--clarooscuro-d); border-color: #4C9AFF; }

.inputWrapper { position: relative; display: inline-block; width: fit-content; }

.inputBuscar {
  width: 100%;
  padding: .5em .8em;
  font-size: 1rem;
  border: 1px solid #1b1c1c;
  border-radius: 8px;
  background: #3c3c3c;
  color: #d8dade;
  transition: background 0.2s,
  border-color 0.2s;
}
.inputBuscar:hover { background: #4d4c4c; }
.inputBuscar:focus { background: #4d4c4c; border-color: #4C9AFF; outline: none; }

/* renglones */

.renglon
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

/* formularios */

.formulario { display: flex; flex-direction: column; gap: 1rem; }
.campo { display: flex; flex-direction: column; }
.inputNOMBRE {}

/* vistas */

.opciones { flex: 1; display: flex; flex-direction: column; align-items: left; justify-content: center; gap: 14px ; }
.opcion { display: grid; grid-template-columns: 1fr auto; align-items: center; gap: 8em; width: 100%; height: 40px; }
.descripcion { display: flex; flex-direction: row; font-size: 1rem; color: #d8dade; user-select: none; }